/* ResetPassword.css - Scoped Styles */
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-primary); /* updated */
}

.reset-password-box {
    background: var(--color-accent); /* updated */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.reset-password-title {
    margin-bottom: 20px;
    font-size: 22px;
    color: var(--color-text); /* updated */
}

.reset-password-form-group {
    margin-bottom: 15px;
    text-align: left;
}

.reset-password-form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: var(--color-secondary); /* updated */
}

.reset-password-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-secondary); /* updated */
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--color-accent); /* updated */
    color: black; /* updated */
}

.reset-password-btn {
    width: 100%;
    padding: 10px;
    background: var(--color-secondary); /* updated */
    color: var(--color-accent); /* updated */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.reset-password-btn:hover {
    background: var(--color-highlight); /* updated */
}
